<div class="form-birthday">
    <div class="container">
      <div *ngIf="step === 1"class="container-one">
        <div class="container-title">
          <div class="title">
          Descubre Cuantos Días Faltan Para Tu Cumpleaños
      </div>
        </div>
        <div class="form">
          <form [formGroup]="birthdayForm">

            <div class="form-item">
              <label class="form-item-label" for="name"> Nombre </label>
              <div class="form-item-group-input">
                <input
                  id = "name"
                  formControlName="name"
                  type = "text"
                  class="form-control"
                  spellcheck="false"
                  autocapitalize="off"
                  autocomplete="off"
                >
                <span *ngIf="formSubmitted && form.name.errors" class="error">
                  *Campo Obligatorio
                </span>
              </div>
            </div>

            <div class="form-item">
              <label class="form-item-label" for="lastName"> Apellido </label>
              <div class="form-item-group-input">
                <input
                  id = "lastName"
                  formControlName="lastName"
                  type = "text"
                  class="form-control"
                  spellcheck="false"
                  autocapitalize="off"
                  autocomplete="off"
                  max=date
                >
                <span *ngIf="formSubmitted && form.lastName.errors" class="error">
                  *Campo Obligatorio
                </span>
              </div>
            </div>

            <div class="form-item">
              <label class="form-item-label" for="birthdate"> Fecha de Nacimiento </label>
              <div class="form-item-group-input">
                <input
                  id = "birthdate"
                  formControlName="birthdate"
                  type = "date"
                  class="form-control"
                  spellcheck="false"
                  autocapitalize="off"
                  autocomplete="off"
                  max = {{date}}
                >
                <span *ngIf="formSubmitted && form.birthdate.errors" class="error">
                  *Campo Obligatorio
                </span>
              </div>
            </div>

            <div class="button">
              <button class="btn-primary" [ngClass]="{'disabled': loadingButton}" (click)="seeBirthDate()">
                <span >Enviar</span>
              </button>
            </div>

            <div class="error">
              <div *ngIf="errorDiv" class="error-div">
                Ocurrió un error, intentalo nuevamente
              </div>
            </div>

          </form>
        </div>
      </div>
      <div *ngIf="step === 2"class="container-two">
        <div class="container-info">

          <div class="celebrate" *ngIf="userDto.daysToBirthdate === 0">
            <div class="title">
              <span > ¡¡¡ HOY ES TU CUMPLEAÑOS {{(userDto.name).toUpperCase()}} {{(userDto.lastName).toUpperCase()}} !!!</span>
            </div>
            <div class="subtitle">
              <span > Cumples {{userDto.age}} año(s), naciste el día {{userDto.birthdate}} y para celebrarlo te tenemos este poema</span>
            </div>
            <div class="title-poem">
              <span >{{userDto.birthdateMessage.title}}</span>
            </div>
            <div class="poem">
              <span  style="white-space: pre-line" [innerText]=userDto.birthdateMessage.content></span>
            </div>
            <div class="poet">
              <span >Autor: {{(userDto.birthdateMessage.poet.name).toUpperCase()}}</span>
            </div>
            <div class="url">
              <span><a href="{{userDto.birthdateMessage.url}}" target="blank">Link al poema</a></span>
            </div>
            <div class="url">
              <span><a href="{{userDto.birthdateMessage.url}}" target="blank">Link al autor</a></span>
            </div>
            <div class="button">
              <button class="btn-primary"  (click)="back()">
                <span >Volver</span>
              </button>
            </div>
          </div>

          <div class="not-celebrate"*ngIf="userDto.daysToBirthdate > 0">
            <div class="title">
              <span> {{(userDto.name).toUpperCase()}} {{(userDto.lastName).toUpperCase()}}</span>
            </div>
            <div class="subtitle">
              <span> SOLO FALTAN {{userDto.daysToBirthdate}} DÍA(S) PARA TU CUMPLEAÑOS</span>
            </div>
            <div class="subtitle">
              <span> Naciste en la fecha {{userDto.birthdate}},así que sigue disfrutando tus {{userDto.age}} años </span>
            </div>
            <div class="button">
              <button class="btn-primary"  (click)="back()">
                <span >Volver</span>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>
